body {
  font-size: 18px;
  line-height: 18px;
  margin: 0;
}

a, h1 a {
  text-decoration: none;
  color: #5D676D; 
}

#content {
  margin: 0 auto;
  position: relative;
  padding-top: 10px;
}

#maincol {
  background-color: white;
  padding-left: 70px;
  width: 600px;
}

#maincol .post {
  padding-bottom: 20px; 
}
#maincol .pagination {
  text-decoration: none;
  color: #6F7285; 
}

#maincol .older {
  float: left; 
}

#maincol .newer {
  float: right; 
}

#subcol {
  background-color: #D3D3D3;
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
}
