---
layout: default
---

<div class="post">
  <h1>{{ post.title }}</h1>
  <p>
    {{ post.content }}
  </p>
  <p>
    {{ post.date | date: "%B %d, %Y" }}
  </p>
  <div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/dumbbunny/embed.js"></script><noscript><a href="http://disqus.com/forums/dumbbunny/?url=ref">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
</div>    